html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    height: 100vh;
    background: radial-gradient(circle, #0085FF, #003465);
    background-image: url('../img/orig.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Montserrat", sans-serif;
}

.form-container {
    width: 1366px;
    height: 768px;

    background: radial-gradient(circle, #0085FF, #003465);
    border-radius: 24px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    padding: 80px;

    border-radius: 28px;

    background: rgba(255, 255, 255, 0.15); 
    backdrop-filter: blur(5px);           
    -webkit-backdrop-filter: blur(10px); 

    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1); 
    border: 1px solid rgba(255, 255, 255, 0.2); 

    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 480px) {
  .login-container {
    padding: 40px;
  }
}

.logo {
    margin: 0;
    margin-bottom: 30px;

    font-size: 40px;
    color: #fff;
}

.form-header {
    margin: 0;
    margin-bottom: 24px;

    font-size: 24px;
    color: #fff;
}

.login-form {
    width: 300px;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-label {
    margin: 0;
    margin-bottom: 8px;

    font-size: 13px;
    color: #fff;
}

input {
  outline: none;
  border: 1px solid transparent;
  padding: 12px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Скрываем встроенный глаз в Edge и Chrome */
input[type="password"]::-ms-reveal {
  display: none;
}

input[type="password"]::-ms-clear {
  display: none;
}

input:focus {
  border-color: #003465;
}

.form-input {
    margin: 0;
    margin-bottom: 16px;

    width: 100%;
    height: 32px;

    border-radius: 5px;

    background-color: #fff;

    font-family: "Montserrat", sans-serif;
    color: #000;
}

.form-input-m0 {
    margin: 0;
}

.password-input {
    width: 100%;
    margin-bottom: 24px;
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 8px;
    top: 8px;

    width: 18px;
    height: 18px;

    cursor: pointer;

    background-image: url(../img/clarity_eye-hide-line.svg);
    background-position: center;
    background-size: cover;
}

.sign-in-btn {
    margin: 0;
    margin-bottom: 24px;
    padding: 12px;
    width: 100%;

    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border: none;
    outline: none;

    background-color: #000;
    border-radius: 8px;

    cursor: pointer;
}

.signup-text {
    margin: 0;

    color: #fff;
    font-size: 12px;
    font-weight: 300;

    text-align: center;
}

.signup-link {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}