name: bezrook

services:

  backend:
    build: backend/
    restart: always
    hostname: "backend"
    container_name: "backend"
    networks:
      - front-net
      - back-net
    depends_on:
      database:
        condition: service_healthy
    environment:
      POSTGRES_USER: bezrook-admin
      POSTGRES_DB: bezrook
    ports:
      - 8000:8000
    secrets:
      - db_password
      - jwt_key
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"



  frontend:
    build: frontend/
    restart: always
    hostname: "frontend"
    container_name: "frontend"
    networks:
      - front-net
    depends_on:
      - database
      - backend
    ports:
      - 3000:3000
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"


  database:
    image: postgres:latest
    restart: always
    hostname: "database"
    container_name: "database"
    networks:
      - back-net
    environment:
      POSTGRES_USER: "bezrook-admin"
      POSTGRES_DB: "bezrook"
      POSTGRES_PASSWORD_FILE: /run/secrets/db_password
    secrets:
      - db_password
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 10s
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"

  adminer:
    image: adminer:latest
    restart: always
    container_name: "adminer"
    networks:
      - back-net
    ports:
      - 9000:8080

networks:
  front-net:
  back-net:

secrets:
  db_password:
    file: secrets/db_password.txt
  jwt_key:
    file: secrets/jwt_key.txt
